{% extends 'base.html' %}
{% block content %}

<h3 class="mb-3">
{% if barang %}✏ Edit Barang{% else %}➕ Tambah Barang{% endif %}
</h3>

<form method="POST">
{% csrf_token %}

<div class="mb-3">
<label>Nama Barang</label>
<input type="text" name="nama_barang" class="form-control"
value="{{ barang.nama_barang|default:'' }}" required>
</div>


<!-- KATEGORI -->
<div class="mb-3">
<label>Kategori</label>

<select name="kategori" id="kategoriSelect" class="form-control" onchange="kategoriLainnya()">
<option value="Hardware">Hardware</option>
<option value="Software">Software</option>
<option value="ATK">ATK</option>
<option value="Jaringan">Jaringan</option>
<option value="Lainnya">+ Tambah Kategori</option>
</select>

<input type="text"
id="kategoriInput"
name="kategori_lain"
class="form-control mt-2"
placeholder="Masukkan kategori baru..."
style="display:none">

</div>


<div class="mb-3">
<label>Stok</label>
<input type="number" name="stok" class="form-control"
value="{{ barang.stok|default:0 }}" required>
</div>


<!-- SATUAN -->
<div class="mb-3">
<label>Satuan</label>

<select name="satuan" id="satuanSelect" class="form-control" onchange="satuanLainnya()">
<option value="PCS">PCS</option>
<option value="Unit">Unit</option>
<option value="Box">Box</option>
<option value="Meter">Meter</option>
<option value="Set">Set</option>
<option value="Lainnya">+ Tambah Satuan</option>
</select>

<input type="text"
id="satuanInput"
name="satuan_lain"
class="form-control mt-2"
placeholder="Masukkan satuan baru..."
style="display:none">

</div>


<!-- GUDANG -->
<div class="mb-3">
<label>Gudang</label>

<select name="gudang" class="form-control" required>

<option value="">-- Pilih Gudang --</option>

{% for g in gudang_list %}
<option value="{{ g.id }}"
{% if barang and barang.gudang_id == g.id %}selected{% endif %}>
{{ g.nama }} - {{ g.lokasi }}
</option>
{% endfor %}

</select>

</div>


<div class="mb-3">
<label>Batas Minimum</label>
<input type="number" name="batas_minimum" class="form-control"
value="{{ barang.batas_minimum|default:5 }}" required>
</div>


<button class="btn btn-primary">
💾 Simpan
</button>

<a href="{% url 'gudang_list' %}" class="btn btn-secondary">
⬅ Kembali
</a>

</form>


<script>

function kategoriLainnya(){

let select = document.getElementById("kategoriSelect")
let input = document.getElementById("kategoriInput")

if(select.value == "Lainnya"){
input.style.display = "block"
}else{
input.style.display = "none"
}

}

function satuanLainnya(){

let select = document.getElementById("satuanSelect")
let input = document.getElementById("satuanInput")

if(select.value == "Lainnya"){
input.style.display = "block"
}else{
input.style.display = "none"
}

}

</script>

{% endblock %}